* {
    background-color: aquamarine;
}

.container {
    background-color: antiquewhite;
    border: 2px solid blue;
    padding: 2%;
    width: 800px;
    margin: 0px auto;
}

.item {
    text-align: justify;
    background-color: yellowgreen;
    float: left;
    border: 2px solid black;
    width: 32%;
    box-sizing: border-box;
    padding: 10px;
}

.item:hover {
    background-color: rgb(209, 148, 148);
    color: white;
    cursor: pointer;
    box-shadow: 10px 10px 2px gray;
    color: black;
}


/* #box1 {} */

#box2 {
    margin: 0px 2%;
}


/* #box3 {} */

.clr {
    clear: both;
}